<header class='row'>
    <div class='content col'>
        <img src='/assets/logo.svg' class='logo' alt='' />
        <div class='version'>{{appName}} <sub>{{version}}</sub></div>
    </div>

</header>